body{
    background:#f2fffff2; 
    padding: 50px
}

h1, h2, h3, footer{
    color:#ff8ac6;
    font-family: cursive
}
h3{
    font-size: 13pt;
}
#mypic{width: 300px;}

#introduction h2 {
    font-style: italic;
}

#introduction p {
    margin-right:  50%;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    font-size: 120%;
}

.exercises {
    background-color: rgb(255, 249, 250);
    padding: 20px;
    border-radius: 20px;
    border: #ff8ac6 dotted 3px;
    color: hotpink
}

.exercises:hover{
    background-color: rgb(255, 224, 255);
    color: beige;
}

a {
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    gap: 20px;

}

footer {
    padding: 20px;
    font-size: 18pt;
}