.test-div {
background:plum;
padding: 20px;
margin: 20px;
border-radius: 20px;
color:aliceblue
}

.test-div h2 {
color: beige;
}

h1, h2 {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: deeppink;
}


.test-div:hover {
background: lightpink;
}

button.special {
background-color: beige;
}

#house{
display: flex;
flex-wrap: wrap;
}

#house div {
width: 400px;
}



#split {
display: flex;
flex-direction: column;
}