body {
    background: rgb(252, 244, 246);
    font-family: Arial, Helvetica, sans-serif;
    color:brown;
    padding: 50px;
}

h1, h2 {
    font-family: cursive;
    text-decoration: underline;
}

p {
    inline-size: 1,6px;
}


button {
background-color: pink;
border: 4px dotted white;
color: white;
width: 150px;
height: 50px;
border-radius: 12px;
}


button:hover {
    background-color: plum;
}

hr {
    height: 3px;
    color: deeppink;
    background-color: pink;
    border: 0;
}

.flex {
    background-color: plum;
    padding: 20px;
    color:antiquewhite;
    margin: 10px;
    border-radius: 20px;
}

#kirby {
    width: 200px;
}

#hello {
    display: flex;
}

footer {
    padding: 15px;
    background: pink;
    font-family: cursive;
    border-radius: 20px;
}

