body {
    background-image: url(envimage/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
}

h1 {
    font-size: 45pt ;
    margin-top: 30px;
    color: #f8ac6e;
    text-shadow: 2px 2px 4px #3f4f00;
    width: 30%;
}

h2 {
    font-size: 25pt;
    width: 35%;
    color: #475e2c;
    background: rgba(244, 247, 213, 0.8);
    border-radius: 12px;
    padding: 10px;
}

p {
    width: 65%;
    line-height: 1.6;
    font-size: 18pt;
    padding: 15px;
    border-radius: 12px;
    background: rgba(244, 247, 213, 0.8);
    color:#475e2c;
    font-weight: 550;
}

/*AI usage:
Prompt: "How can I position an image on the 
inferior bottom left corner in CSS language"
Response: ChatGPT provided the parameters.
Reasoning: I wanted my character to point 
out to the rest of the scene.
What code is AI: All of the elf ID
*/

#elf {
    width: 600px;
    position: fixed;
    bottom: 1px;
    right: 10px;
}

#butterfly {
    width: 300px;
    margin: 200px;
}

.lilatxt { color: #ad529e; }
.butterflytxt { color: #de7519; }


