  body {
    background-image: url(envimage/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 100px;
}

h1 {
    font-size: 45pt ;
    margin-top: 30px;
    color: #f8ac6e;
    text-shadow: 2px 2px 4px #3f4f00;
    width: 30%;
}

h2 {
    font-size: 25pt;
    width: 35%;
    color: #475e2c;
    background: rgba(244, 247, 213, 0.8);
    border-radius: 12px;
    padding: 10px;
}

.right p {
    color: #ee763f;
}

.right p:hover {
    background-color: #ee763f;
    color: beige;
}


p {
    line-height: 1.6;
    font-size: 18pt;
    padding: 15px;
    border-radius: 12px;
    background: rgba(244, 247, 213, 0.8);
    color:#475e2c;
    font-weight: 550;
}


.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

}

.right {
    align-items: center;   
    width: 30%;
}

#home {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.left .fact-a p {
    color: #fdab30;
}

.left .fact-b p {
    color: brown;
}

.left .fact-a p:hover {
    background-color: #fdab30;
    color: beige;
}

.left .fact-b p:hover {
    background-color: brown;
    color: beige;
}

.right p {
    position: fixed;
    top: 15%;
    right: 100px;
    width: 30%;
}


#elf {
    width: 600px;
    position: fixed;
    bottom: 0px;
}

#butterfly {
    width: 300px;
    margin: 100px;
}

#squirrel {
    width: 400px;
    margin: 100px;
}


#butterfly:hover {
    transform: scale(1.1);
}

#squirrel:hover {
    transform: scale(1.1);
}

footer {
    background-color: #f8ac6e;
}

