  body {
    background-image: url(envimage/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 100px;
}



#main h1 {
    font-size: 45pt ;
    margin-top: 30px;
    color: #f8ac6e;
    text-shadow: 2px 2px 4px #3f4f00;
    width: 30%;
}

#main h2 {
    font-size: 25pt;
    width: 35%;
    color: #475e2c;
    background: rgba(244, 247, 213, 0.8);
    border-radius: 12px;
    padding: 10px;
}


h3 {
    font-size: 18pt;
    color: #475e2c;
    padding: 5px;
}

.right p {
    color: #ee763f;
}

.right p:hover {
    background-color: #ee763f;
    color: beige;
}


p {
    line-height: 1.6;
    font-size: 16pt;
    padding: 15px;
    border-radius: 12px;
    background: rgba(244, 247, 213, 0.8);
    color:#475e2c;
    font-weight: 550;
}


.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

}

.right {
    align-items: center;   
    width: 30%;
}

#home {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.left .fact-a p {
    color: #fdab30;
}

.left .fact-b p {
    color: brown;
}

.left .fact-a p:hover {
    background-color: #fdab30;
    color: beige;
}

.left .fact-b p:hover {
    background-color: brown;
    color: beige;
}

.right p {
    position: fixed;
    top: 15%;
    right: 100px;
    width: 30%;
}


#elf {
    width: 600px;
    position: fixed;
    bottom: 0px;
    cursor: pointer;
}

#butterfly {
    width: 300px;
    margin: 100px;
    cursor: pointer;
}

#squirrel {
    width: 400px;
    margin: 100px;
    cursor: pointer;
}


#butterfly:hover {
    transform: scale(1.1);
}

#squirrel:hover {
    transform: scale(1.1);
}

#elf:hover {
    transform: scale(1.1);
}

footer {
    background-color: #f8ac6e;
    padding: 20px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    font-weight: 600;
    border-radius: 12px;
}

footer a {
    color: beige;
}

#placed, #info-a, #info-b {
    line-height: 1.6;
    font-size: 14pt;
    padding: 5px;
    border-radius: 12px;
    background: rgba(252, 231, 184, 0.8);
    color:#892119;
    font-weight: 400;
}

#placed {
    width: 45%;
}

#score {
    position: fixed;
    margin: 30px;
}
#output {
    position: fixed;
}

#minigame{
    display: flex;
    flex-direction: column;

}


#menu {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 400px;
    background-color: rgba(254, 242, 217, 0.5);
    padding: 60px;
    border-radius: 12px;
}

#menu h1 {
    font-size: 60pt ;
    margin-top: 30px;
    color: #f8ac6e;
    text-shadow: 2px 2px 4px #3f4f00;
}

#menu h2 {
    font-size: 25pt;
    color: #475e2c;
    background: rgba(244, 247, 213, 0.8);
    border-radius: 12px;
    padding: 10px;
}

#menu button {
    background-color: rgb(244, 247, 213);
    font-size: 25px;
    color: #475e2c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px;
    border-radius: 12px;
    border: #475e2c dotted 3px;
    cursor: pointer;

}

#menu button:hover {
    background-color: #f8ac6e;
    font-size: 25px;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px;
    border-radius: 12px;
    border: beige dotted 3px;
}